[tool.poetry]
name = "guarddog"
description = "GuardDog is a CLI tool to Identify malicious PyPI packages"
authors = ["Ellen Wang", "Christophe Tafani-Dereeper"]
license = "Apache-2.0"
readme = "pypi.rst"
repository = "https://github.com/DataDog/guarddog"
version = "0.0.0"

[tool.poetry.scripts]
guarddog = "guarddog.cli:cli"

[tool.poetry.dependencies]
python = ">=3.10,<4"
docker = "==6.0.1"
# NOTE: Before https://github.com/returntocorp/semgrep/issues/6631 is addressed, we can't seem to upgrade past 0.112.1
semgrep = "==0.112.1"
requests = "==2.28.2"
tqdm = "==4.65.0"
python-dotenv = "==1.0.0"
python-dateutil = "==2.8.2"
attrs = "==21.4.0"
boltons = "==21.0.0"
bracex = "==2.3.post1"
charset-normalizer = "==2.1.1"
click = "==8.1.3"
click-option-group = "==0.5.5"
colorama = "==0.4.6"
defusedxml = "==0.7.1"
face = "==20.1.1"
glom = "==22.1.0"
idna = "==3.4"
jsonschema = "==4.17.3"
pyparsing = "==3.0.9"
python-lsp-jsonrpc = "==1.0.0"
six = "==1.16.0"
typing-extensions = "==4.5.0"
ujson = "==5.7.0"
urllib3 = "==1.26.15"
wcmatch = "==8.4.1"
websocket-client = "==1.5.1"
mypy-extensions = "==1.0.0"
pathspec = "==0.11.1"
platformdirs = "==3.5.0"
tomli = "==2.0.1"
pathos = ">=0.2.9,<0.4.0"
pytest = "^7.1.2"
flake8 = ">=5.0.4,<7.0.0"
python-whois = "^0.8.0"
termcolor = "^2.1.0"
setuptools = ">=65.6.3,<68.0.0"
tarsafe = "^0.0.5"
semantic-version = "^2.10.0"
pyyaml = "^6.0"
pygit2 = "^1.11.1"
configparser = "^5.3.0"
prettytable="^3.6.0"

[tool.poetry.dev-dependencies]

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning"
]
testpaths = [
    "tests/analyzer/metadata",
    "tests/core"
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


