name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:

  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Type check with mypy
        run: make type-check

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Lint with flake8
        run: make lint

  unit-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Semgrep rules unit tests
      run: make test-semgrep-rules
    - name: Python unit tests
      run: make test-metadata-rules
    - name: Core unit tests
      run: make test-core
    - name: Report coverage
      run: make coverage-report


  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.5.0
        with:
          fetch-depth: 0

      - name: 'Set up Python 3.10'
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install GuardDog
        run: |
          pip install .

      - name: Run GuardDog against a remote package
        run: guarddog pypi scan requests

      - name: Run GuardDog against a remote package
        run: guarddog npm scan express

      - name: Run GuardDog against a local requirements.txt file
        run: >
          echo -e "requests\npywin32" > requirements.txt
          guarddog pypi verify ./requirements.txt
          guarddog npm verify ./tests/core/resources/package.json

  docker-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v2.5.0
        with:
          fetch-depth: 0
      - name: Build local Docker image
        run: docker build .
